/*Обнуление*/*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}:focus,:active{outline:none;}
a:focus,a:active{outline:none;}nav,footer,header,aside{display:block;}
/*--------------------*/

/*body{
	overflow-x:hidden; 
}*/
.conteiner-fon{
	display:flex;
	flex-direction:column;
	/*height:2160px;*/
	width:100%;
	background:url(fons/price_1.png);
	background-repeat: no-repeat;
	position: absolute;
	justify-content:space-between;
}

.grid1{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
	margin-left:5%;
	margin-right:5%;
	/*margin-top:2%;*/
/*grid-template-columns: 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px;*/
grid-template-rows: 108px 480px 150px auto;
grid-column-gap: 25px;
grid-row-gap: 25px;
	justify-content: center;
align-items: center;
justify-items: center;
}	

.grid2{
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(340px, 1fr));
	margin-left:4%;
	margin-right:4%;
	/*margin-top:2%;*/
grid-template-rows:auto 56px 140px;
grid-column-gap: 25px;
grid-row-gap: 25px;
justify-content: center;
align-items: start;
justify-items: center;
}	
.portfolio{
	
grid-column-start:1	;
grid-column-end:2;

}

.price{
	
	grid-column-start:3;
	grid-column-end:4;
}

.logo{
	
	grid-column-start:5;
	grid-column-end:9;
	letter-spacing: 10px;
}

.info{
	
	grid-column-start:10;
	grid-column-end:11;
}

.korzina{
	
	grid-column-start:12;
	grid-column-end:13;
}	

.conteiner-h1{
	
	grid-column-start:6;
	grid-column-end:8;
	grid-row-start:3;
	grid-row-end:4;
	color:#DE00AD;
	font-family: 'Lora', serif;
	font-style:lighter;
	font-size: 30px;
}	


.card1{
	
	grid-column-start:1;
	grid-column-end:2;
	/*grid-row-start:4;
	grid-row-end:5;	*/
	
}	
.card2{
	
	grid-column-start:2;
	grid-column-end:3;
	/*grid-row-start:4;
	grid-row-end:5;*/	
}	
.card3{
	
	grid-column-start:3;
	grid-column-end:4;
	/*grid-row-start:4;
	grid-row-end:5;	*/
}	
.card4{
	
	grid-column-start:4;
	grid-column-end:5;
	/*grid-row-start:4;
	grid-row-end:5;*/	
}

button {
	margin: 0;
	text-align: center;
	overflow: hidden;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	width: 269px;
	height: 56px;
/*flex-direction: column;*/
align-items: center;
	gap: 37px;
	border-radius: 33px;
	border: 1.5px solid #F100BC;
	background: rgba(217, 217, 217, 0.00);
	color: #FFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

button:hover {
	cursor: pointer;
	/*border: 2px solid #414141;*/
	background: #F100BC;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

button:active{
	cursor: pointer;
	transform: scale(1.04);
	background: #800164;
	 transition: 1s;
}

p {
color: #FFF;
text-align: center;
font-family: 'Montserrat Alternates', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: normal;
font-weight: lighter;
line-height: 30px;
/*padding:100 px;
margin: 100 px;*/
}	

h1{
	font-size: 55px;
}
h2{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	font-size: 32px;
	text-align: center;	
	margin:15px;
}

h3{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	font-size: 24px;
	text-align: center;	
	margin:15px;
	opacity:0,5;
}

h2:hover{
    color: #FF00C7; 
	cursor: pointer;
	 transition: 1s;
}

h2:active{
    color: #FF00C7; 
	cursor: pointer;
	text-decoration: underline;
}	
a {
text-decoration: none;
color: #fff;
font-size: 15 px;
font-family: 'Montserrat', sans-serif;
/*opacity:0.9;*/
}

a:hover{
    color: #FF00C7; 
	 transition: 1s;
}

a:active{
    color: #FF00C7; 
	text-decoration: underline;
}



.footer {
	
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
		padding: 0px; 
		background:rgba(30, 30, 30, 0.29);
		width: 100%; 
		height:193px;
		color: #FFF;
		font-family: Montserrat, sans-serif;
		font-size: 15px;
		font-style: normal;
		/*font-weight: 300;
		line-height: normal;*/
		align-items:center;
}
		
.conteiner-footer{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
	align-content:center;
	min-width: 80%;
	height:30%;
	
}	
	
.avtor {
display: flex;
padding: 4px;
gap: 10px;
/*margin-right:300px;
margin-left:170px;*/
}	

.seti{
	display: inline-flex;	
	justify-content:center;
}
.inst{
	display: flex;
width:29px;
height:29px;
/*padding-left:10px;
padding-right:10 px;*/
margin:10px;
/*margin-left:290px;*/
color: #FFF;
}

#SLOY_1{
	stroke: #FFF;
}
.tg{
	display: flex;
width:33px;
height:33px;
/*padding-left:10px;
padding-right:10px;
/*margin-right:290px;*/
margin:10px;
color: #FFF;
}

.mail{
display: flex;
padding: 4px;
gap: 10px;
/*margin-left:250px;
margin-right:170px;*/
}

/*----------------------------*/
/*для выпадающего списка*/

/*плашка под кнопкой списка активная*/
.dropdown-toggle:focus{
    background-color: #0000 !important;
	color:#FF00C7 !important;
	box-shadow: none !important;
}

/*плашка под кнопкой списка в обычном состоянии (отключение базовых стилей)*/
.btn {
background:transparent;	
border:none;
}	

/*плашка под кнопкой списка при наведении(отключение базовых стилей)*/
.btn:hover{
	background:transparent;	/*наследуется*/
	color: #FF00C7;
}

/*плашка под кнопкой списка при нажатии(отключение базовых стилей)*/
.btn:active{
	background:transparent;	
	color: #FF00C7;
	border:none;
	text-decoration: true;
}

/*цвет плашки под списком*/
.dropdown-menu {
	background:#2B2B2B !important;	
}

/*цвет текста в выпадающем списке*/
.dropdown-item {
color:#fff;	
}

.dropdown-item:hover {
color:#FF00C7;	
background: transparent !important;	
opacity:1;
} 
